<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h2>Users</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <form th:action="@{/admin/edit}" method="get" style="display:inline;">
                <input type="hidden" name="id" th:value="${user.id}"/>
                <button type="submit">Edit</button>
            </form>
            <form th:action="@{/admin/delete}" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${user.id}"/>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>

<h2>Add new User</h2>
<form th:action="@{/admin/add}" method="post" th:object="${user}">
    <input type="hidden" name="username"/><br/>
    <input type="hidden" name="password"/><br/>
    Name: <input type="text" name="firstName"/><br/>
    Surname: <input type="text" name="lastName"/><br/>
    Email: <input type="text" name="email"/><br/>
    <button type="submit">Add</button>
</form>
<br>
<form th:action="@{/logout}" method="post">
    <button type="submit">Выйти</button>
</form>
</body>
</html>
